<template>
    <div class="row">
        <div class="container">
            <div class="col-lg-6 col-md-10 col-sm-12 col-xs-12">
                <h1>Comments</h1>
                <comments-level
                        v-if="comments"
                        :comments="comments"
                ></comments-level>
                <create-comment
                        v-on:addComment="pushComment"
                ></create-comment>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                comments: null
            }
        },

        methods: {
            getComments() {
                this.$http.get('/comments').then(function(response){
                    this.comments = response.data;
                }, function(error){
                    console.log(error.statusText);
                });
            },

            pushComment(comment) {
                this.comments.push(comment);
            }
        },

        mounted() {
            this.getComments();
        }
    }
</script>