<template>
    <div class="comments">
        <div v-for="comment in comments_level">
            <div class="card">
                <div class="card-header">
                    <div>
                        {{ comment['user_name'] }}
                    </div>
                    <div class="float-right">
                        {{ comment['created_at'] }}
                    </div>
                </div>
                <div class="card-body">
                    <p class="card-text">
                        {{ comment['body'] }}
                    </p>
                </div>
                <div class="card-body">
                    <create-comment
                            v-if="reply_id == comment['id']"
                            :parent_id="(comment['level'] != 4) ? comment['id'] : comment['parent_id']"
                            :level="Number(comment['level'])"
                            :is_reply="true"
                            v-on:addComment="pushComment"
                    ></create-comment>
                    <button class="btn btn-light float-right" v-show="reply_id != comment['id']" @click="createReply(comment['id'])">Reply</button>
                    <button class="btn btn-secondary float-right btn-cancel mr-2" v-show="reply_id == comment['id']" @click="closeReply">Cancel</button>
                </div>
            </div>

            <template v-if="comment['children']">
                <div class="ml-5">
                    <comments-level
                            v-if="comment['children']"
                            :comments="comment['children']"
                    ></comments-level>
                </div>
            </template>
        </div>
    </div>
</template>

<script>
    export default {
        props: {
            comments: {
                type: Array,
                default: []
            }
        },

        data() {
            return {
                comments_level: this.comments,
                reply_id: null
            }
        },

        methods: {
            createReply(comment_id) {
                $('.current-cancel').trigger('click');
                $('.create-reply').hide();
                $('.btn-cancel').addClass('current-cancel');
                this.reply_id = comment_id;
            },

            closeReply() {
                this.reply_id = null;
            },

            pushComment(comment) {
                this.reply_id = null;
                $('.create-reply').hide();
                if (this.comments_level[0].level === 4) {
                    this.comments_level.push(comment);
                } else {
                    for (let i = 0; i < this.comments_level.length; i++) {
                        if (this.comments_level[i].id === comment.parent_id) {
                            if (this.comments_level[i].children) {
                                this.comments_level[i].children.push(comment);
                            } else {
                                this.comments_level[i].children = [];
                                this.comments_level[i].children[0] = comment;
                            }
                        }
                    }
                }
            }
        }
    }
</script>