<template>
    <div class="create-comment mt-2" v-bind:class="{'create-reply': is_reply}">
        <div class="form-group">
            <input v-model.trim="user_name" type="text" class="form-control" id="userName" placeholder="Enter your name">
        </div>
        <div v-show="user_alert" class="alert alert-danger" role="alert">
            {{error_user ? error_user : 'You have to enter your name.'}}
        </div>
        <div class="form-group">
            <textarea v-model.trim="comment_body" class="form-control" id="commentBody" rows="3" placeholder="Write your comment..."></textarea>
        </div>
        <div v-show="comment_alert" class="alert alert-danger" role="alert">
            {{error_body ? error_body : 'You have to enter your comment.'}}
        </div>
        <button class="btn btn-primary float-right" v-if="parent_id === 0" @click="postComment">Post</button>
        <button class="btn btn-primary float-right" v-if="parent_id !== 0" @click="postComment">Reply</button>
    </div>
</template>

<script>
    export default {
        props: {
            parent_id: {
                type: Number,
                default: 0
            },
            level: {
                type: Number,
                default: 0
            },
            is_reply: {
                type: Boolean,
                default: false
            }
        },

        data() {
            return {
                user_name: '',
                comment_body: '',
                user_alert: false,
                comment_alert: false,
                currentLevel: this.level,
                error_user: '',
                error_body: '',
                token: $('meta[name="csrf-token"]').attr('content')
            }
        },

        methods: {
            postComment() {
                if (this.user_name) {
                    this.user_alert = false;
                } else {
                    this.user_alert = true;
                }
                if (this.comment_body) {
                    this.comment_alert = false;
                } else {
                    this.comment_alert = true;
                }

                if (this.user_name && this.comment_body) {
                    this.$http.post('save-comment', {
                        _token: this.token,
                        parent_id: this.parent_id,
                        level: (this.currentLevel === 4) ? this.currentLevel : ++this.currentLevel,
                        user_name: this.user_name,
                        body: this.comment_body
                    }).then(function (response) {
                        this.user_name = '';
                        this.comment_body = '';
                        this.$emit('addComment', response.data)
                    }, function (error) {
                        this.user_alert = (error.body.errors.user_name) ? true : false;
                        this.comment_alert = (error.body.errors.body) ? true : false;
                        this.error_user = (error.body.errors.user_name) ? error.body.errors.user_name[0] : '';
                        this.error_body = (error.body.errors.body) ? error.body.errors.body[0] : '';
                    });
                }
            }
        }
    }
</script>